:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --text: #0f0f0f;
  --bg: #f6f6f6;

  --primary: #ffffff;

  color: var(--text);
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  width: 32px;
  height: 32px;
  border-radius: 18px;
  border: 2px solid var(--primary);
}

.box:hover {
  background-color: pink;
}

.habitName {
  cursor: pointer;
  font-weight: 800;
}

.complete {
  background-color: lightblue;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text);
  background-color: var(--primary);
  transition: border-color 0.25s;
}

.addTask,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text);
  background-color: var(--primary);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f6f6f6
    --bg: #2f2f2f;
  
    --primary: black;
  }
}