:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --text: #0f0f0f;
  --bg: #f6f6f6;

  --primary: #ffffff;

  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.purple {
  /* #d8b4fe; */
  --color: 216, 180, 254;
  --text-color: rgb(184, 118, 255);
}
.sky {
  /* #7dd3fc; */
  --color: 125, 211, 252;
  --text-color: rgb(85, 201, 255);
}
.blue {
  /* #93c5fd; */
  --color: 147, 197, 253;
  --text-color: rgb(81, 162, 255);
}
.orange {
  /* #fdba74; */
  --color: 253, 186, 116;
  --text-color: rgb(255, 155, 48);
}
.pink {
  /* #f9a8d4; */
  --color: 249, 168, 212;
  --text-color: rgb(255, 94, 183);
}
.green {
  /* #bef264; */
  --color: 190, 242, 100;
  --text-color: rgb(156, 227, 34);
}
.yellow {
  /* rgb(255, 255, 136); */
  --color: 255, 251, 131;
  --text-color: rgb(255, 221, 0);
}
.red {
  /* rgb(255, 129, 129); */
  --color: 255, 129, 129;
  --text-color: rgb(255, 79, 79);
}

* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 2em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;
}
.container h2 {
  text-align: center;
  font-weight: 500;
  color: rgb(157, 157, 157);
  padding: 4vh 0;
}
.flex {
  display: flex;
  align-items: center;
}
.flex button {
  margin: 0 0.28em;
}

.habits {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-left: 0.4em;
}
.habitName {
  font-size: 1.2em;
  width: 30vw;
  cursor: pointer;
  text-align: start;
  margin-right: 1em;
}
.boxes {
  gap: 0 0.2em;
}
.box {
  width: 32px;
  height: 32px;
  background-color: var(--primary);
  color: var(--primary);
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  justify-content: center !important;
  font-weight: 800;
}
.box:hover {
  color: var(--text-color);
}

.complete1,
.complete2,
.complete3,
.complete4,
.complete5,
.complete6,
.complete7 {
  color: rgb(255, 255, 255, 0);
}

.complete7 {
  background-color: rgb(var(--color));
}
.complete6 {
  background-color: rgb(var(--color), 0.8);
}
.complete5 {
  background-color: rgb(var(--color), 0.7);
}
.complete4 {
  background-color: rgb(var(--color), 0.6);
}
.complete3 {
  background-color: rgb(var(--color), 0.5);
}
.complete2 {
  background-color: rgb(var(--color), 0.4);
}
.complete1 {
  background-color: rgb(var(--color), 0.3);
}

.habits input {
  border-radius: 8px;
  border: none;
  font-family: inherit;
  color: var(--text);
  background-color: var(--primary);
  transition: border-color 0.25s;

  /* https://stackoverflow.com/questions/6586302/add-padding-to-html-text-input-field */
  padding: 0 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.addHabit,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text);
  background-color: var(--primary);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 0.5em;
}
button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* .schedule button {
  padding: 0.2em;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.modal {
  height: 280px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding: 2em;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  -webkit-transition: 0.5s;
  transition: all 0.3s linear;

  background-color: rgb(170, 208, 244);
}

.modal .addHabit {
  border-radius: 2px;
  box-shadow: none;
  background-color: rgb(170, 208, 244);
  border-bottom: 4px solid white;
  padding: 0 0.4em;
  font-size: 1.2em;
  margin-bottom: 0.6em;
}
.modal button {
  padding: 0.4em 1.6em;
}
.modal .addHabit:focus {
  background-color: white;
}
.modal svg:hover {
  opacity: 60%;
}

.deleteModal {
  height: 100px;
  width: 280px;
  background-color: var(--primary);
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding: 2em;
  z-index: 2;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  -webkit-transition: 0.5s;
  transition: all 0.3s linear;

  font-weight: bold;
}
.deleteModal span {
  text-decoration: underline;
}
.deleteModal div {
  margin-top: 1em;
  justify-content: center;
}
.deleteModal button:first-of-type {
  background-color: rgb(106, 176, 255);
}
.deleteModal button {
  background-color: rgb(255, 112, 112);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f6f6f6;
    --bg: #1f1f1f;

    --primary: black;

    color: var(--text);
    background-color: var(--bg);
  }

  .purple {
    /* rgb(184, 118, 255); */
    --color: 184, 118, 255;
    --text-color: #d8b4fe;
  }
  .sky {
    /* rgb(85, 201, 255); */
    --color: 85, 201, 255;
    --text-color: rgb(125, 211, 252);
  }
  .blue {
    /* rgb(81, 162, 255); */
    --color: 81, 162, 255;
    --text-color: #93c5fd;
  }
  .orange {
    /* rgb(255, 161, 61); */
    --color: 255, 161, 61;
    --text-color: #fdba74;
  }
  .pink {
    /* rgb(255, 94, 183); */
    --color: 255, 94, 183;
    --text-color: #f9a8d4;
  }
  .green {
    /* rgb(172, 246, 45); */
    --color: 172, 246, 45;
    --text-color: #bef264;
  }
  .yellow {
    /* rgb(255, 252, 52); */
    --color: 255, 252, 52;
    --text-color: rgb(255, 255, 136);
  }
  .red {
    /* rgb(255, 79, 79); */
    --color: 255, 79, 79;
    --text-color: rgb(255, 129, 129);
  }
}
